.app{
  text-align: center;
  text-transform: uppercase;
  color:red;
}
.ap{
  background-color: aqua;
  width:100%;
  height: 350px; 
}
.txt{
  text-align: center;
  color: yellow;
}
.app1{
  text-align: center;
  text-transform: uppercase;
  color:black;
}
.app2{
  text-align: center;
  text-transform: uppercase;
  color:blue;
}
.app3{
  text-align: center;
  text-transform: uppercase;
  color:black;
}


